.modal-header(ng-style="teamPri")
  button(class="btn btn-primary close-modal-team-select" type="button" ng-click="ok()") X
  h3(class="modal-title" id="modal-title") {{teamSelected}}
  h4 Team Information:  {{record}}
  span {{team.DivStanding}} {{teamPlace}} in the {{team.ConfName}} {{team.DivName}}


.modal-body(id="modal-body")
  .row
    .col-sm-6
      .offense-data
          p Offense(Rank) {{teamOffYds | number: 2}} yds/gm({{teamOffRank}})
          bars-chart(width=250 height=200 data='[{"rating": "pass off Rank","value":passOffRank},{"rating": "rushOffRank","value": rushOffRank},{"rating": "pointsOffRank","value": pointsOffRank}]', class="col-sm-4")
          //p Pass: {{passOffYds | number: 2}} yds/gm yds/gm({{passOffRank}})
          //p Rush: {{rushOffYds | number: 2}} yds/gm({{rushOffRank}})
          //p Pts: {{teamPointsOff | number: 2}} pts/gm({{pointsOffRank}})
    .col-sm-6
      .defense-data
          p Defense(Rank): {{teamDefYds | number: 2}} yds/gm({{teamDefRank}})
          bars-chart(width=250 height=200 data='[{"rating": "passDefRank","value":passDefRank},{"rating": "rushDefRank","value": rushDefRank},{"rating": "pointsDefRank","value": pointsDefRank}]', class="col-sm-4")
          //p Pass: {{passDefYds | number: 2}} yds/gm({{passDefRank}})
          //p Rush: {{rushDefYds | number: 2}} yds/gm({{rushDefRank}})
          //p Pts: {{teamPointsDef | number: 2}}  pts/gm({{pointsDefRank}})

  uib-tabset(active="active")
    uib-tab(index="0" heading="Team")
      .row
        .col-md-3
          img(style="height: 250px; width: 400px;" src="../img/stadiums/{{team.StadiumPic}}")
        .col-md-3.pull-left
          p {{team.StadiumName}}
          p {{team.City}} {{team.State}}
          p Capacity: {{team.StadiumCapacity}}
          p Attendance: {{(team.AvgAttendance/team.StadiumCapacity)*100 | number: 2}} %

          p Upcoming Draft
          p Positon: {{team.DraftPosition}}{{draftPos}}
          p Biggest Need: QB
          p Deepest Position: CB

        .col-md-3.pull-left
          p Financials
          p Salary Cap: ${{salaryCap | number}}
          p Remaining: ${{maxCap - salaryCap | number}}
          p Dead Cap: ${{deadCap | number}}

          p Revenue
          p Team Value: ${{teamValue | number}}
          p Team Income: ${{revenue | number}}
          p Avg Ticket Price: ${{avgTicket | number: 2}}

        .col-md-3.pull-left
          p 3 Highest Paid Players
          p {{highPlay1}} ${{highPlay1Sal | number}}
          p {{highPlay2}}: ${{highPlay2Sal | number}}
          p {{highPlay3}}: ${{highPlay3Sal | number}}

          p 3 Highest Rated Players
          p {{highPlay4}} {{highPlay4Rat | number}} Overall Rating
          p {{highPlay5}}: {{highPlay5Rat | number}} Overall Rating
          p {{highPlay6}}: {{highPlay6Rat | number}} Overall Rating


    uib-tab(index="1" heading="Coaches" )
      .row
        .col-md-12.pull-left
          .grid(id="grid1" ui-grid="gridOptions1")

    uib-tab(index="2" heading="Front Office")
      .row
        .col-md-12.pull-left
          .grid(id="grid1" ui-grid="gridOptions2")

.modal-footer(ng-style="teamTer")
  span(class="pull-left") Owner: {{owner.FName}} {{owner.LName}} Age: {{owner.Age}}  Reputation: {{ownerRep}}  Finances:  {{ownerFin}}
