h4 Please select the type of league you'd like to create:

a(
  class="cta"
  ng-click!="model.Mode = 'career'; Update(model.Mode)"
  ui-sref=".career"
  tooltip-placement="top"
  uib-tooltip="Single Season Mode allows you take control of your favorite team for a season. How good of a GM are you?  Can you win the Super Bowl?"
  ) Career Simulation

a(class="cta"
    ng-click!="model.Mode ='single'; Update(model.Mode)"
    ui-sref-active="active"
    ui-sref=".single"
    tooltip-placement="top"
    uib-tooltip="Single Season Mode allows you take control of your favorite team for a season. How good of a GM are you?  Can you win the Super Bowl?"
    ) Single Season

a(class="cta"
    ng-click!="model.Mode = 'quick'; Update(model.Mode)"
    ui-sref-active="active"
    ui-sref=".quick"
    tooltip-placement="top"
    uib-tooltip="Quick Game Mode allows you to choose two teams and begin playing a regular season game."
    ) Quick Game

a(class="cta"
    ng-click!="model.Mode='situation'"
    ui-sref-active="active"
    ui-sref=".situation"
    tooltip-placement="top"
    uib-tooltip="Re-live some of the greatest situations in football history. The game hangs in the balance.  Can you change history or will you be doomed to repeat it?"
    ) Situational Drills
